@model SoleStride.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<div class="delete-card">
    <div class="delete-header">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
        </svg>
        <h2>Delete Category</h2>
    </div>
    <div class="delete-body">
        <p class="delete-description">Are you sure you want to delete the category below? This action cannot be undone.</p>

        <div class="detail-row">
            <span class="detail-label">Category</span>
            <span class="detail-value">@Model.CategoryName</span>
        </div>
        <div class="detail-row">
            <span class="detail-label">Category ID</span>
            <span class="detail-value">@Model.CategoryId</span>
        </div>

        <form asp-action="Delete" class="d-flex gap-2 mt-4 pt-3" style="border-top:1px solid #f1f3f5;">
            <input type="hidden" asp-for="CategoryId" />
            <button type="submit" class="btn btn-danger-custom">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 me-1" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3C5.67 0 5 .67 5 1.5v1h1z"/>
                    <path d="M2.5 3h10l.71.79c.18.2.29.47.29.74v7.26a1 1 0 0 1-1 1H4.5a1 1 0 0 1-1-1V4.53c0-.27.11-.54.29-.74zM6 5.5a.5.5 0 0 1 .5.5v5.5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 0a.5.5 0 0 1 .5.5v5.5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 0a.5.5 0 0 1 .5.5v5.5a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5"/>
                </svg>
                Delete Category
            </button>
            <a asp-action="Create" class="btn btn-back-custom">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
                Cancel
            </a>
        </form>
    </div>
</div>
